body{
    background-color: blue;
}

#container{
    display: flex;
    justify-content: space-around;
}

#grid-container{
    width: 500px;
    height: 500px;
    display: grid;
}

.grid-item{
    background-color: white;
    border: 1px solid black;
}

.hovered{
    background-color: black;
}

button{
    height: 0;
    padding: 20px;
    border-radius: 10px;
    align-self: center;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    cursor: pointer;
}

